<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>Cadastro!!</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="css/cadastro.css"/>
    </head>
    <body>

     <header>
        <div class="logo"> <img src="img/logo.png" width="200px"> </div>          
        </header>

        <header>       
            <section class="container">
                <div class="info">
                <div class="frase">Criar seu cadastro</div>
                </div>
               </section> 
             <section class="area-login">
                <br>
                <br>
                <br>
                <div class="login">
                    <form method="post" action="cadastro/confirmar" th:object="${cadastro}" enctype="multipart/form-data">
                    	
                    	<input class="razaosocial" type="file" name="imagem">
                    
                        <input class="razaosocial" type="text" th:field="*{nome}" placeholder="Nome">
                        <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
                        
                        <input class="Cnpg"   type="text" name="cnpj" th:field="*{cnpj}" placeholder="CNPJ">
                        <div th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}"></div>
                        
                        <input class="email" type="email" name="email" th:field="*{email}" placeholder="Email">
                        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        
                        <input class="senha" type="password" name="senha" th:field="*{senha}" placeholder="Senha">
                        <div th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></div>
                        
                        <input class="cep"   type="text" name="cep" th:field="*{cep}" placeholder="CEP">
                        <div th:if="${#fields.hasErrors('cep')}" th:errors="*{cep}"></div>
                        
                        <select name="categoria" id="categoria" th:field="*{categoria}">
                            <option value="Beleza">Beleza</option>
                            <option value="Eletrodomesticos">Elestrodomésticos</option>
                            <option value="Varejo">Varejo</option>
                            <option value="Eletronicos">Eletronicos</option>
                            <option value="Construcao">Construção</option>
                            <option value="Automoveis">Automoveis</option>
                            
                            
                        </select>
                        <div th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></div>
                        <select name="bairro" id="categoria" th:field="*{bairro}">
                                <option value="Casa Amarela">Casa Amerela</option>
                                <option value="Casa Forte">Casa Forte</option>
                                <option value="Morro da Conceicao">Morro da Conceição</option>
                                <option value="Boa Viagem">Boa Viagem</option>
                                <option value="Pina">Pina</option>
                         
                        </select>
                        <div th:if="${#fields.hasErrors('bairro')}" th:errors="*{bairro}"></div>
<!--                         <input class="cep"  type="file" name="imagem" > -->
                        <br>
                        <input id="checkbox" type="checkbox" name="privacidade">
                        <label id="checbox2" for="checkbox">Você aceita nossa política<br>de privacidade</label>
                        
                        <button type="submit" class="cadastro">Cadastrar</button>
                         
                    </form>
                    
                </div>
            </div>
          </section> 
    </header>
     <section class="banner">
    <div class="banner--imagens">
        <img src="img/local.png" width="650px">
    </div>

     </section>
        ...
     <footer>
       <a href="/"><button class="botao"type="submit">&#x21A9;Voltar</button></a>
     </footer>
    
</body>
</html>