<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Login!!</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="css/login.css"/>
    </head>
    <body>

     <header>
        <div class="logo"> <img src="img/logo.png" width="200px"/> 
     <picture>
        <source midia="(min-width: 650px)" src="lknlknlknnlknblkn.png">
        <source midia="(min-width: 450px)" src="lknlknlknnlknblkn.png">
     </picture>           
        </header>

        <header>       
            <section class="container">
                <div calss="leftside">
                 <div class="info">
                 <div class="frase"> Olá!</div>
                 <br>
                 <div class="apresentação">Bem vindo ao near, aqui você encontra</div>
                 <div class="restofrase">a loja que procura pertinho de você</div>
                 <br>
                </div>
             <section class="area-login">
                <br>
                <br>
                <div calss="leftside">    
                <div class="login">
                    <form th:action="@{/login}" th:object="${login}" method="post">
                    
                    	<div class="alert alert-danger" role="alert" th:if="${msg}">
                    		<strong th:text="${msg}"></strong>
                    	</div>
                    
                        <input class="Email" type="email" name="email" placeholder="Email" th:field="*{email}">
                        <input class="Senha" type="password" name="senha" placeholder="Senha" th:field="*{senha}">
                        <button class="entrar" type="submit">Entrar</button>
                        <br>
                        <hr class="hr">
                       <button class="cadastro"><a th:href="@{cadastro}">Crie sua Conta</a> </button>                     
                    </form>
                </div>
            </div>
        </div>
    </header>
     <section class="banner">
    <div class="banner--imagens">
        <img src="../img/local.png" width="650px">
    </div>

     </section>
        ...
     <footer>
        <a href="/"><button class="botao"type="submit">&#x21A9;Voltar</button></a>
     </footer>
    
</body>
</html>